/* Fuentes de la web */
@font-face {
    font-family: 'Poppins-Thin';
    src: url('../../alangalvanwork/fonts/Poppins-thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

/* Usar la fuente en el cuerpo */
body {
    font-family: 'Poppins', Arial, sans-serif;
}

/* Estilos generales */
body {
    margin: 0;
    font-family: 'Poppins', serif;
    background-color: #f9f9f9;
}

/* Estilo de la barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Para ajustar contenido en la página */
.content {
    padding: 2rem;
    text-align: center;
}
